.btn-edit {
    margin-right:10px;
    cursor:pointer;
}
.btn-delete {
    margin-right:10px;
    cursor:pointer;
}
.table-title {
    margin: 30px;
    font-size: 22px;
    font-weight: bold;
}
.dashboard-header {
    text-align: left;
    margin : 15px ;
    .gray-text {
        color:rgb(129, 129, 129);
    }
}